<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT_ROOT" target="SYSTEM_OUT">
            <PatternLayout pattern="ROOT:%d %-5p %C %L - %m%n" />
        </Console>
        <RollingFile name="jtorrent" fileName="./logs/log.log"
                     filePattern="./logs/logs_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d %p %c %L %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"
                                           interval="24" />
                <!--<SizeBasedTriggeringPolicy size="128KB" />-->
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
        <RollingFile name="INFO_HASH" fileName="./logs/infohash.log"
                     filePattern="./logs/infohash_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern="%d %m%n" />
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true"
                                           interval="24" />
                <!--<SizeBasedTriggeringPolicy size="128KB" />-->
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="INFO_HASH" level="debug">
            <AppenderRef ref="INFO_HASH"></AppenderRef>
        </Logger>
        <Root level="info">
            <!--<AppenderRef ref="STDOUT_ROOT" />-->
            <AppenderRef ref="jtorrent"></AppenderRef>
        </Root>
    </Loggers>
</Configuration>